.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.form {
  display: flex;
  flex-direction: column;

  /* Select all first level children */
  & > * {
    margin-bottom: 1rem;
  }
}

.title {
  margin-bottom: 1rem;
}
