.container {
  width: 15rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.image {
  width: 100%;
  min-height: 5rem;
}

.button {
  width: 100%;
}
