.description {
  margin-top: 0.5rem;
  padding: 1.25rem;
}

.infoElementsContainer {
  display: flex;
  flex-wrap: wrap;
}

.infoElement {
  margin-top: 0.5rem;
  padding: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .infoElementsContainer {
    flex-direction: column;
  }
  .infoElement {
    margin-right: 0rem;
  }
}
