.horizontal-xs {
  padding-bottom: 1rem;
}

.horizontal-sm {
  padding-bottom: 2rem;
}

.horizontal-md {
  padding-bottom: 3rem;
}

.horizontal-lg {
  padding-bottom: 3rem;
}

.horizontal-xl {
  padding-bottom: 4rem;
}

.vertical-xs {
  padding-right: 1rem;
}

.vertical-sm {
  padding-right: 2rem;
}

.vertical-md {
  padding-right: 3rem;
}

.vertical-lg {
  padding-right: 3rem;
}

.vertical-xl {
  padding-right: 4rem;
}
