@import '../../../assets/styles/variables';

.divider {
  flex-grow: 1;
}

.appBar {
  height: $nav-height;
}

.link {
  &,
  &:visited,
  &:active,
  &:link {
    color: white;
    text-decoration: none;
  }
}
